    <!-- top start -->
<header class="header">
    <div class="head">
        <h2></h2>

        <div class="logo">
            <a href="/"><img src="../assets/static/images/logo.png" alt=""></a>
        </div>
        <!--<div class="lang"><a class="cur" href="/">中文</a><a href="/en">English</a></div>-->
        <div class="share">
            <a class="wx" href="javascript:void(0);">
                <span><img src="../assets/static/images/code.png" alt=""></span>
            </a>
            <a class="wb" href="http://weibo.com/u/2476922652" target="_blank"></a>
        </div>
        <div class="menu-btn"><i></i></div>
        <menu class="menu" id="menu">
            <!--<div class="mobile-lang"><a href="/en">English</a></div>-->
            <ul>
                @Html.Raw(ViewBag.Home1)
                @*<li class="cur"><a href="/">首页</a></li>
                    <li><a href="/about" target="_self">天汇传媒</a></li>
                    <li>
                        <a href="/business" target="_self">产品与服务</a>
                        <dl>
                            <dd><a href="/business">公交广告</a></dd>
                            <dd><a href="/elevator">灯箱广告</a></dd>
                            <dd><a href="/screen">活动推广</a></dd>
                            <dd><a href="/store">户外大牌</a></dd>
                            <dd><a href="/store">天汇视频机</a></dd>
                        </dl>
                    </li>
                    <li><a href="/cases" target="_self">案例中心</a></li>
                    <li><a href="/honor" target="_self">天汇荣誉</a></li>
                    <li><a href="/join" target="_self">加入天汇</a></li>
                    <li><a href="/contactus" target="_self">联系我们</a></li>*@
            </ul>
        </menu>
    </div>
    <div class="maskm"></div>
</header>
<!-- end top -->