
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="format-detection" content="telephone=no">
    <title>内容</title>
    <link rel="stylesheet" href="../assets/static/css/default.css?v=142">
    <script src="../assets/static/js/jquery-1.11.1.min.js"></script>
    <script src="../assets/static/js/fun.js?v=141"></script>
    <link rel="stylesheet" href="../assets/static/css/master.css">
    <link rel="stylesheet" href="../assets/static/js/respond.src.js">
</head>
<body class="case-page">
    <!-- top start -->
    @Html.Action("HomePartial", "Home", new { chanelid = 9 })
    <!-- end top -->

    <div class="fixedbar">
        <ul>
           @Html.Raw(ViewBag.QuickNav1)
        </ul>
    </div>
    <div class="container casedetail">
        @Html.Raw(ViewBag.banner)
        <div class="casedetail-back">
            <div class="wrap">
                <a href="javascript:history.go(-1);"><img src="../assets/static/images/case/case-back.png">返回</a>
            </div>
        </div>
        @Html.Raw(ViewBag.Content)
    </div>
</body>
</html>
